$gray: #9c9b9b;
$gold: #cec014;
$silver: #949494;
$bronze: #623c16;

.medal_container {
  border: 1px solid $gray;
  padding: 20px 30px;
  h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: $gray;
    font-weight: 300;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      th {
        border-bottom: 2px solid $gray;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        &.active {
          border-top: 2px solid $gray;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 10px;
          border-bottom: 1px solid $gray;
          &:first-child {
            width: 60%;
          }
        }
      }
    }
    .center {
      text-align: center;
    }
  }
  .country-detail{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    align-items: center;
    li:first-child{
        min-width: 20px;
        text-align: right;
    }
  }
  .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    &.gold {
      background-color: $gold;
    }
    &.silver {
      background-color: $silver;
    }
    &.bronze {
      background-color: $bronze;
    }
  }
}

.flag {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
  &.flag-BLR{
    background-image: url('../flags/BLR.png');
  }
  &.flag-CHN{
    background-image: url('../flags/CHN.png');
  }
  &.flag-RUS{
    background-image: url('../flags/RUS.png');
  }
  &.flag-ITA{
    background-image: url('../flags/ITA.png');
  }
  &.flag-AUS{
    background-image: url('../flags/AUS.png');
  }
  &.flag-NOR{
    background-image: url('../flags/NOR.png');
  }
  &.flag-GER{
    background-image: url('../flags/GER.png');
  }
  &.flag-SUI{
    background-image: url('../flags/SUI.png');
  }
  &.flag-CAN{
    background-image: url('../flags/CAN.png');
  }
  &.flag-SWE{
    background-image: url('../flags/SWE.png');
  } 
  &.flag-FRA{
    background-image: url('../flags/FRA.png');
  } 
  &.flag-USA{
    background-image: url('../flags/USA.png');
  } 
  &.flag-NED{
    background-image: url('../flags/NED.png');
  } 
  &.flag-AUT{
    background-image: url('../flags/AUT.png');
  } 
}